@import "./header.css";
@import "./main.css";
@import "./footer.css";

* {
  box-sizing: border-box;

  /* margin: 0; */

  /* padding: 0; */

  /* border: 0; */
}

body {
  margin: 0;
}

header,
footer,
article,
nav,
aside {
  padding: 16px;
}

:root {
  --main-bg-color: rgb(85, 153, 150);
  --main-text-color: rgb(0, 0, 0);
}
