.header {
  background: var(--main-bg-color);
  min-height: 5vh;
  display: flex;
}

.header-title {
  margin-left: 5%;
}
.header-title-div {
  margin: auto;
}

.header-image {
  width: 20%;
}

.header-image-main {
  width: 100%;
}
